.chart {
  // flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;
  background-color: ghostwhite;
  border-radius: 10px;

  .title {
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(160, 160, 160);
  }
  .yAxisLabel {
    display: none;
  }
  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
  .pie {
    display: flex;
    justify-content: center;
  }
  .stack-chart-container {
    width: 826px;
    height: 100%;
  }
}

// // Responsive adjustments
@media screen and (max-width: 768px) {
  .chart {
    .title {
      font-size: 12px !important;
    }
    // Adjusted width and height for ResponsiveContainer
    .recharts-responsive-container {
      width: 100% !important;
      height: 200px !important;
      // Adjust these values as needed
    }

    .xAxisLabel {
      font-size: 24px; // Adjust the font size of the XAxis labels here
      // You can add more styling properties as needed
    }
  }
}

@media screen and (max-width: 450px) {
  .chart {
    .recharts-responsive-container {
      height: 280px !important;
      // Adjust these values as needed
    }

    .xAxisLabel {
      font-size: 23px; // Adjust the font size of the XAxis labels here
      // You can add more styling properties as needed
    }

    .rev-yAxisLabel {
      display: unset;
    }

    .recharts-label-list {
      tspan {
        font-size: 1.8rem;
      }
    }

    .recharts-legend-wrapper {
      width: 350px !important;
      padding-bottom: 1rem;

      .recharts-default-legend {
        .recharts-legend-item {
          font-size: 12px;
        }
      }
    }
  }
}
